NODE_ENV=DEV

DB_HOST=localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=trigrdb
DATABASE_URL=postgres://myuser:mypassword@localhost:5432/trigrdb
REDIS_URL=redis://localhost:6379

ACCESS_TOKEN_SECRET=secret
REFRESH_TOKEN_SECRET=secret
